<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="Project Server and Website" content="">
  <meta name="Roberto F. Ruzzi" content="">
  <meta name="Nutritional Anthropometrics Calculator" content="nutrition,nutritional,anthropometrics,body measurements,weight,harris-benedict">

  <title>
    <%=copyRight.name%>
  </title>

  <!-- TODO automate inject of css/js -->
  <link href="../../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../css/heroic-features.css" rel="stylesheet">
  <!-- <link href="../../css/anthro.css" rel="stylesheet"> -->
  <script src="../../lib/jquery/jquery.min.js"></script>
  <script src="../../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../js/formChek.js"></script>
  <script src="../../js/nutrition.js"></script>
  <!-- <script src="../../js/exchange.js"></script> -->

  <style type="text/css">
    header.jumbotron.my-4 {
      padding-top: 2em;
      padding-bottom: 2em;
    }

    .cell {
      display: table-cell;
      vertical-align: top;
      /* text-align: right; */
      padding-left: 5px;
      padding-right: 5px;
      /* border: 1px solid gray; */
    }

    .cell input {
      /* max-width: 3em;
      width: 3em; */
    }

    .nbr {
      max-width: 5em;
      text-align: right;
      width: 5em;
    }

    .nbrDisable {
      max-width: 3em;
      background-color: #E0E0E0;
      text-align: right;
      width: 3em;
    }

    #calcTable {
      /* margin-left: 2rem; */
      /* width: 65%;  */
      table-layout: auto;
    }

    #calcTable th,
    #calcTable td {
      padding: 0px;
      border: none;
    }


    #calcTable th,
    #calcTable td {
      padding: 0px;
    }

    #calcTable h4 {
      text-align: center;
      padding-bottom: 1em;
    }

    #noteTable {
      margin-left: 2rem;
    }

    /* .table td, .table th {
      padding: 0px 15px 0px 15px;
      text-align: right;
    } */

    th {
      text-align: right;
    }

    td>input {
      /* float: right; */
      /* text-align: right; */
    }

    th>label,
    i {
      font-weight: 200;
      height: 2em;
      margin-bottom: 0px;
      padding-right: 10px;
    }
  </style>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">
        <%=copyRight.name%>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <% for(var i=0; i<nav.length; i++){%>
            <% if (page==nav[i].Text) {%>
              <li class="nav-item active">
                <% } else { %>
                  <li class="nav-item">
                    <%}%>
                      <a class="nav-link" href="<%=nav[i].Link%>">
                        <%=nav[i].Text%>
                      </a>
                  </li>
                  <%}%>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">Project Website</h1>
      <h2>Nutritional Anthropometrics Calculator</h2>
      <span class="">This is for informational purposes only.</span>
    </header>

    <!-- Page Features -->

    <table id="calcTable" class="table">
      <tr>
        <td colspan="2">
          <h4>Combining nutrition metrics and body measurements.</h4>
        </td>
      </tr>
      <tr>
        <th>
          <label for="scrHeight1">Height</label>
        </th>
        <td>
          <input id="scrHeight1" class="nbr" value="0" type="number" min="0" max="9" onblur="computeAnthro()" />
          <select id="scrHeightUnits" class="" onchange="heightUnitChg();computeAnthro()" onblur="heightUnitChg();computeAnthro()">
            <option value="cm" selected="selected">cm</option>
            <option value="ft">ft</option>
            <option value="in">in</option>
          </select>
          <input id="scrHeight2" class="nbrDisable" value="0" type="number" min="0" max="11" readonly="readonly" onblur="computeAnthro()"
          />
          <span>(inches)</span>
          <span id="scrHeight3" style="display: inline-block; min-width: 7em">&nbsp;</span>
        </td>
      </tr>

      <tr>
        <th>
          <label for="scrWeight1" class="">Weight</label>
        </th>
        <td>
          <input id="scrWeight1" class="nbr" value="0" type="number" min="0" max="9999" onblur="computeAnthro()" />
          <select id="scrWeightUnits" class="" onchange="computeAnthro()" onblur="computeAnthro()">
            <option value="kg" selected="selected">kg</option>
            <option value="lbs">lbs</option>
          </select>
          <span id="scrWeight2"></span>
        </td>
      </tr>

      <tr>
        <th>
          <label for="scrBMI" class="">BMI</label>
        </th>
        <td>
          <span id="scrBMI" class=""></span>
        </td>
      </tr>

      <tr>
        <th>
          <label for="scrBMICategory" class="">BMI Category</label>
        </th>
        <td>
          <span id="scrBMICategory" class="">&nbsp;</span>
        </td>
      </tr>

      <tr>
        <th>
          <label for="scrSex" class="">Sex</label>
        </th>
        <td>
          <select id="scrSex" class="" onchange="computeAnthro()" onblur="computeAnthro()">
            <option value=" " selected="selected"> </option>
            <option value="Female">Female</option>
            <option value="Male">Male</option>
          </select>
        </td>
      </tr>

      <tr>
        <th>
          <label for="scrIdealBodyWt" class="">Ideal Body Weight</label>
        </th>
        <td>
          <span id="scrIdealBodyWt" class=""></span>
        </td>
      </tr>

      <tr>
        <th>
          <label for="scrPercentIdealBodyWt" class="">Percent Ideal Body Weight</label>
        </th>
        <td>
          <span id="scrPercentIdealBodyWt" class=""></span>
        </td>
      </tr>

      <tr>
        <th>
          <label for="scrAge" class="">Age</label>
        </th>
        <td>
          <input id="scrAge" class="nbr" value="" type="number" min="0" max="999" onblur="computeAnthro()" />
        </td>
      </tr>

      <tr>
        <th>
          <label for="scrAIS" class="">Activity Factor</label>
        </th>
        <td>
          <select id="scrAIS" onchange="computeAnthro()" onblur="computeAnthro()">
            <option value="0" selected="selected"> </option>
            <option value="1.2">sedentary or weight maintenance</option>
            <option value="1.3">light activity</option>
            <option value="1.5">moderatly active, infection, healing</option>
            <option value="2.0">very active, extreme stress, burns</option>
          </select>
        </td>
      </tr>

      <tr>
        <th>
          <label for="scrHarrisBenedict" class="">Harris-Benedict RMR</label>
        </th>
        <td>
          <span id="scrHarrisBenedict" class=""></span>
        </td>
      </tr>

      <tr>
        <th>&nbsp;</th>
        <td> </td>
      </tr>

      <tr>
        <th>
          <i>Optional fields</i>
        </th>
        <td>
        </td>
      </tr>

      <tr>
        <th>
          <label for="scrTricepSkinFold" class="">Tricep Skin Fold</label>
        </th>
        <td>
          <input id="scrTricepSkinFold" class="nbr" value="0" type="number" min="0" max="999" onblur="computeAnthro()" />
          <span>mm</span>
        </td>
      </tr>

      <tr>
        <th>
          <label for="scrBicepSkinFold" class="">Bicep Skin Fold</label>
        </th>
        <td>
          <input id="scrBicepSkinFold" class="nbr" value="0" type="number" min="0" max="999" onblur="computeAnthro()" />
          <span>mm</span>
        </td>
      </tr>

      <tr>
        <th>
          <label for="scrSuprailiac" class="">Suprailiac</label>
        </th>
        <td>
          <input id="scrSuprailiac" class="nbr" value="0" type="number" min="0" max="999" onblur="computeAnthro()" />
          <span>mm</span>
        </td>
      </tr>

      <tr>
        <th>
          <label for="scrSubscapula" class="">Subscapula</label>
        </th>
        <td>
          <input id="scrSubscapula" class="nbr" value="0" type="number" min="0" max="999" onblur="computeAnthro()" />
          <span>mm</span>
        </td>
      </tr>

      <tr>
        <th>
          <label for="scrSumOfSkinfolds" class="">Sum of skinfolds</label>
        </th>
        <td>
          <span id="scrSumOfSkinfolds" class=""></span>
        </td>
      </tr>

      <tr>
        <th>
          <label for="scrMidArmCircum" class="">Mid-Arm Circumference</label>
        </th>
        <td>
          <input id="scrMidArmCircum" class="nbr" value="0" type="number" min="0" max="999" onblur="computeAnthro()" />
          <span>cm</span>
        </td>
      </tr>

      <tr>
        <th>
          <label for="scrMidArmCircumA" class="">Mid-Arm Circumference Area</label>
        </th>
        <td>
          <span id="scrMidArmCircumA" class=""></span>
        </td>
      </tr>

      <tr>
        <th>
          <label for="scrWaistCircum" class="">Waist Circumference</label>
        </th>
        <td>
          <input id="scrWaistCircum" class="nbr" value="0" type="number" min="0" max="999" onblur="computeAnthro()" />
          <span>cm</span>
        </td>
      </tr>

      <tr>
        <th>
          <label for="scrHipCircum" class="">Hip Circumference</label>
        </th>
        <td>
          <input id="scrHipCircum" class="nbr" value="0" type="number" min="0" max="999" onblur="computeAnthro()" />
          <span>cm</span>
        </td>
      </tr>

      <tr>
        <th>
          <label for="scrWaistHipRatio" class="">Waist Hip Ratio</label>
        </th>
        <td>
          <span id="scrWaistHipRatio" class=""></span>
        </td>
      </tr>

      <tr>
        <th>
          <label for="scrWaistHipRatioCat" class="">Waist Hip Ratio Category</label>
        </th>
        <td>
          <span id="scrWaistHipRatioCat" class=""></span>
        </td>
      </tr>

      <!-- <tr>
                <td>
                  <label for="scrNotes" class="">Notes</label>
                  <textarea id="scrNotes"></textarea>
                </td>
                <td>
                </td>
                <td>
                </td>
              </td> -->


      <!-- </div> -->
      <!-- /.row -->

    </table>
    <br />
    <div id="noteTable" class="">
      <div class="">
        <div class="">
          <label for="scrNotes">Notes</label>
          <textarea id="scrNotes" rows="2" cols="50"></textarea>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

  <% include ../partials/footer %>
</body>

</html>