<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">
            Copyright &copy; <%=copyRight.name%> <%=copyRight.year%>
            <script type="text/javascript">
                if (new Date().getFullYear() > <%=copyRight.year%>) {
                    document.write("- " + new Date().getFullYear());
                }
            </script>
        </p>
    </div>
</footer>